h1 { 
    font-size: 150%;
}
h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    
}
div.hide {
    display: none;
}
a {
    color: black;
    text-decoration: none; 
}
a:focus, a:hover { 
	color: black; 
}

ul {
    padding-left: 45px;
}
li {
    padding-bottom: .25em;
    margin-left: 25px;
}
p {
    padding-bottom: .25em;
    padding-left: 25px;
}
